body{
  color: #087187;
  background-color: #aec9cf;
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
  font-size: 1rem;
}

.page-title {
  display: block !important;
  text-align: center;
  margin-top: 10px;
  
}

#post-form{
  background-color: #dfe7eb;
}

#post-card-home{
  background-color: #dfe7eb;
}

#post-card-single{
  background-color: #dfe7eb;
}

#user-post{
  font-family: 'Source Code Pro', monospace;
}

#quarantime{
  color: #087187;
  font-size: 4rem;
  /* font-family: 'Sunflower', sans-serif; */
  font-family: 'Source Code Pro', monospace;
}

#spendQuarantime{
  font-family: 'Source Code Pro', monospace;
  font-weight: 600;
}


#post-submit{
  background-color: #0d8e94;
  color: #282c34;
  font-family: 'Source Code Pro', monospace;
}


.form-container {
  width: 400px;
  margin: auto;

}

.ui.teal.button:focus,
.ui.teal.buttons .button:focus {
  background-color: #00b5ad;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
